.notSelected {
  color: white;
  cursor: pointer;
}
.selected {
  color: #e95793;
  cursor: pointer;
}
.label {
  color: white;
  fill: white;
}
@media (prefers-color-scheme: light) {
  .label {
    color: black;
  }
  .notSelected {
    color: black;
    cursor: pointer;
  }
  .selected {
    color: #e95793;
    cursor: pointer;
  }
}
